<!--产品主页面，未完成，需要添加判断数据库为空的情况-->

<title>ProductPage</title>
<!--<link rel="stylesheet" type="text/css" href="/css/index.css">-->
<link rel="stylesheet" type="text/css" href="/css/products.css">




<div class="allcategory contain">
    <h4>全部车型</h4>
    <p class="hotline">销售热线 0755-82621333</p>
    <br>
    <hr>
    <!--load db 的category into cell 有几个load 几个 需要图片和名字，-->
    
    <% @case_types.each do |category| %>
      
      <div class="cell">
        <div class="categoryimg" style="background: url(<%= category.image%>);"></div>
        <%= link_to category.name, case_type_path(category.id) %>
      </div>
    <%end%>
</div>

<script>
  $(function() {
    $(document).ready(function () {
      var lastScroll = 0;
      var scrollt = $('#myCarousel').offset().top;
      
      $(window).bind('mousewheel DOMMouseScroll', function(event){
        if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
            // scroll up
        }
        else {
          if(window.document.getElementById("productbanner") != null) {
            // scroll down
            var st = $(this).scrollTop();
            
            if (st > lastScroll){

              var scrollt = $('#myCarousel').offset().top;
              if (st <= 100) {
                $('html, body').animate({scrollTop: scrollt}, 500);
                st = scrollt;
              }
            }
          }
            lastScroll = st;
        }
        lastScroll = $(this).scrollTop();
      });
      lastScroll = $(this).scrollTop();
      
      $('.productbanner').on('click', function(e) {
        var scrollt = $('#myCarousel').offset().top;
        $('html, body').animate({
                    scrollTop: scrollt
        }, 1000);
        st = scrollt;
        lastScroll = st;
      });
    });
  })
</script>